@charset "utf-8";
/* CSS Document */


.hygieia {
	width: 100%;
	padding: 8px 0px 8px 0px;
}

.Jenkins {
	width: 30%;
}

.Nexus {
	width: 30%;
}

.jira {
	width: 60%;
}

.Selenium {
	width: 50%;
}

.hygieia_1 {
	width: 80%;
	padding: 24px 0px 12px 0px;
}

.Selenium_1 {
	width: 33%;
	padding-top: 24px;
}

.Jenkins_1 {
	width: 80%;
	padding-top: 24px;
}

.Nexus_1 {
	width: 20%;
	padding-top: 24px;
}

.card_hover:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card_hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
